.jumbotron {
	background-color: #fff5d9;
	border: 1px solid #e3c100;
	h2 {
		color: #ac0005;
		font-weight: bold;
	}
}

.navbar-default {
	.container-fluid {
		background-color: #b80b03;
		.navbar-nav > li > a {
			color: #e3c100;
			font-weight: bold;
			font-size: 14pt;
		}
		.navbar-header {
			padding: 4px;
			.navbar-brand {
				border: 1px solid #e3c100;
				color: #e3c100;
				font-size: 30pt;
				font-weight: bold;
        		font-family: 'Hobo Std';
        		text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
			}
		}
		.dropdown > li > a {
			color: #e3c100;
			font-weight: bold;
			font-size: 14pt;
		}
	}
}


.container-fluid {
	padding: 10px 120px;
}