<div class="container-fluid" style="text-align: center" ><%= image_tag "http://www.duncanmcfarlane.ca/images/beer.jpg" %>
</div>

<footer style="font-size: 8pt; text-align: center;">copyright <%= link_to "Inbox Communications", "http://www.inboxcommunications.com/", target: "_blank" %>
</footer>