<div class="container-fluid" style="text-align: center" ><%= image_tag "https://s3.amazonaws.com/beermeduncan/site/12212391_10101520076312407_526709081_n.jpg" %>
</div>

<footer style="font-size: 8pt; text-align: center;">copyright <%= link_to "Inbox Communications", "http://www.inboxcommunications.com/", target: "_blank" %>
</footer>